In [15]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("CreditCardApprovalPrediction") \
    .getOrCreate()

In [16]:

# Define file paths
path_to_application = 'data/raw/application_record.csv'
path_to_credit = 'data/raw/credit_record.csv'

# Ingest data into Spark DataFrames
applicant_data_spark = spark.read.option("header", "true").csv(path_to_application, inferSchema=True)
credit_data_spark = spark.read.option("header", "true").csv(path_to_credit, inferSchema=True)

# Show first few rows for verification
applicant_data_spark.show(5)
credit_data_spark.show(5)

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|5008804|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|
|5008805|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|
|5008808|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008809|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
only showing top 5 rows

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
+-------+--------------+------+
only showing top 5 rows

In [17]:
from pyspark.sql.functions import col, when, count, lit, min, max, abs

# Drop duplicates
applicant_data_spark = applicant_data_spark.dropDuplicates(['ID'])
merged_spark_df = applicant_data_spark.join(credit_data_spark, on="ID", how="left")


# Mode calculation for 'STATUS'
from pyspark.sql import functions as F

# Group by 'ID' and calculate mode (most frequent value) for 'STATUS'
status_mode_df = merged_spark_df.groupBy('ID').agg(
    F.expr("first(STATUS)").alias("mode_status")  # Simplified mode calculation in Spark
)

# Filter out 'X' values
status_mode_df = status_mode_df.filter(status_mode_df['mode_status'] != 'X')

# Merge applicant data with status mode
merged_spark_df = merged_spark_df.join(status_mode_df, on="ID", how="inner")

# Apply the label encoding logic to 'mode_status'
merged_spark_df = merged_spark_df.withColumn(
    "label", when(merged_spark_df["mode_status"].isin("0", "1", "2", "3", "4", "5"), 0)
    .when(merged_spark_df["mode_status"] == "C", 1)
    .otherwise(lit(None))
)

# Show the DataFrame after transformations
merged_spark_df.show(5)

+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|mode_status|label|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+
|5008806|          M|           Y|              Y|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|             0|     C|          C|    1|
|5008806|          M|           Y|              Y|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -1|     C|          C|    1|
|5008806|          M|           Y|              Y|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -2|     C|          C|    1|
|5008806|          M|           Y|              Y|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -3|     C|          C|    1|
|5008806|          M|           Y|              Y|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -4|     C|          C|    1|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+
only showing top 5 rows

In [18]:
# Sample 5 rows randomly from the test_data_loaded DataFrame
_ , sample_data = merged_spark_df.randomSplit([0.9, 0.1], seed=42)

# Show the sample data
sample_data.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|mode_status|label|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|           -23|     X|          C|    1|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|           -21|     X|          C|    1|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|           -17|     X|          0|    0|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|            -9|     0|          0|    0|
|5008832|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secon...|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|           -21|     0|          C|    1|
|5008841|          M|           N|              Y|           1|        405000.0|Commercial associate|    Higher education|             Married|House / apartment|    -11842|        -2016|         1|              0|         0|         0|       Managers|            3.0|            -3|     0|          0|    0|
|5008844|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|           -31|     0|          C|    1|
|5008844|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|           -30|     0|          C|    1|
|5008844|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|           -18|     0|          C|    1|
|5008849|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|           -40|     C|          C|    1|
|5008853|          M|           Y|              Y|           0|        112500.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -20502|        -4450|         1|              0|         1|         0|        Drivers|            2.0|           -33|     0|          C|    1|
|5008872|          M|           Y|              Y|           0|        360000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -16670|        -5364|         1|              0|         1|         0| Security staff|            2.0|            -5|     0|          0|    0|
|5008878|          F|           N|              Y|           2|        126000.0|Commercial associate|    Higher education|             Married|House / apartment|    -12411|        -1773|         1|              0|         0|         1|       Managers|            4.0|           -43|     0|          1|    0|
|5008881|          F|           N|              Y|           2|        126000.0|Commercial associate|    Higher education|             Married|House / apartment|    -12411|        -1773|         1|              0|         0|         1|       Managers|            4.0|           -16|     0|          C|    1|
|5008881|          F|           N|              Y|           2|        126000.0|Commercial associate|    Higher education|             Married|House / apartment|    -12411|        -1773|         1|              0|         0|         1|       Managers|            4.0|            -1|     C|          C|    1|
|5008889|          F|           N|              Y|           0|        247500.0|Commercial associate|    Higher education|           Separated| Rented apartment|    -17016|        -1347|         1|              0|         0|         0|     Core staff|            1.0|            -1|     0|          0|    0|
|5008894|          F|           N|              Y|           0|        297000.0|Commercial associate|Secondary / secon...|Single / not married| Rented apartment|    -15519|        -3234|         1|              0|         0|         0|       Laborers|            1.0|           -22|     C|          C|    1|
|5008894|          F|           N|              Y|           0|        297000.0|Commercial associate|Secondary / secon...|Single / not married| Rented apartment|    -15519|        -3234|         1|              0|         0|         0|       Laborers|            1.0|            -4|     C|          C|    1|
|5008894|          F|           N|              Y|           0|        297000.0|Commercial associate|Secondary / secon...|Single / not married| Rented apartment|    -15519|        -3234|         1|              0|         0|         0|       Laborers|            1.0|            -1|     C|          C|    1|
|5008895|          F|           N|              Y|           0|        297000.0|Commercial associate|Secondary / secon...|Single / not married| Rented apartment|    -15519|        -3234|         1|              0|         0|         0|       Laborers|            1.0|           -31|     C|          C|    1|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+
only showing top 20 rows

In [19]:
sample_data.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- MONTHS_BALANCE: integer (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- mode_status: string (nullable = true)
 |-- label: integer (nullable = true)

In [20]:
sample_raw_directory = "sample/raw"
sample_data.write.parquet(sample_raw_directory)
print("saved!!")

saved!!

In [7]:
from process import DataProcessor

In [8]:
sample_processed_directory = "sample/processed"

In [9]:
data_processor = DataProcessor()
data_processor.process(input_df=sample_data,output_dir=sample_processed_directory)
print("Data processing complete!")

Data processing complete!

In [10]:
test_data_loaded = spark.read.parquet(sample_processed_directory)
test_data_loaded.show(5)

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+------------------+-----------------+---------------------+---------------------+---------------+--------------------+--------------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|mode_status|label|               AGE|   YEARS_EMPLOYED|INCOME_PER_FAM_MEMBER|CREDIT_HISTORY_LENGTH|RECENT_ACTIVITY|            features|     scaled_features|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+------------------+-----------------+---------------------+---------------------+---------------+--------------------+--------------------+
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|         1|              0|         1|         1|    Sales staff|            1.0|            -7|     C|          C|    1| 52.35616438356164| 8.35890410958904|             270000.0|                    0|              0|[270000.0,270000....|[3.77234065933750...|
|5008826|          F|           Y|              N|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|         1|              0|         0|         0|    Accountants|            2.0|           -14|     C|          C|    1| 29.23013698630137|3.021917808219178|              65250.0|                    9|              0|[65250.0,130500.0...|[0.91164899267323...|
|5008826|          F|           Y|              N|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|         1|              0|         0|         0|    Accountants|            2.0|            -7|     C|          C|    1| 29.23013698630137|3.021917808219178|              65250.0|                    9|              0|[65250.0,130500.0...|[0.91164899267323...|
|5008826|          F|           Y|              N|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|         1|              0|         0|         0|    Accountants|            2.0|            -5|     C|          C|    1| 29.23013698630137|3.021917808219178|              65250.0|                    9|              0|[65250.0,130500.0...|[0.91164899267323...|
|5008830|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secon...|             Married|House / apartment|         1|              0|         1|         0|       Laborers|            2.0|            -4|     C|          C|    1|27.482191780821918|4.024657534246575|              78750.0|                    0|              1|[78750.0,157500.0...|[1.10026602564010...|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+-----------+-----+------------------+-----------------+---------------------+---------------------+---------------+--------------------+--------------------+
only showing top 5 rows

In [11]:
model_path = "rf_model"

In [12]:
from pyspark.ml.classification import RandomForestClassificationModel
rf_model = RandomForestClassificationModel.load(model_path)
print("RandomForest model loaded successfully!")

RandomForest model loaded successfully!

In [14]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Perform prediction on test data
rf_predictions = rf_model.transform(test_data_loaded)

rf_predictions.select("label").show()

+-----+
|label|
+-----+
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    0|
|    1|
|    1|
+-----+
only showing top 20 rows